<div id="bookingSection" class="booking-container container-fluid">
  <div class="row">
    <div *ngIf="!isAppointmentConfirmed" class="col-12">
      <h1 class="pb-3">Book Your Appointment</h1>
      <p class="mb-5">Book your appointment in just 3 simple steps</p>
      <mat-accordion>
        <mat-expansion-panel #step1 [expanded]="step === 1" (opened)="setStep(1)">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="my-4">Step 1: Select Date and Time</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="step1FormGroup" (ngSubmit)="onStep1FormSubmit(step1FormGroup.value)">
            <!-- Date Picker -->
            <mat-form-field class="mb-4 me-4" appearance="fill">
              <mat-label>Choose a Date</mat-label>
              <input matInput formControlName="datePicker" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" (dateChange)="onDateSelection($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step1FormGroup.get('datePicker').hasError('required')">You must select a date.</mat-error>
            </mat-form-field>

            <!-- Time Picker -->
            <mat-form-field class="mb-4 me-4" appearance="fill">
              <mat-label>Choose Time</mat-label>
              <mat-select formControlName="timePicker" (selectionChange)="onTimeSelection($event)" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let time of availableTimeList" [value]="time">{{time}}</mat-option>
              </mat-select>
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step1FormGroup.get('timePicker').hasError('required')">You must select a time.</mat-error>
            </mat-form-field>
          </form>

          <mat-action-row>
            <button mat-flat-button color="primary" class="me-4" type="submit" (click)="nextStep()" [disabled]="!step1FormGroup.valid">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel #step2 [expanded]="step === 2" (opened)="setStep(2)" [disabled]="!step1FormGroup.valid">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="my-4">Step 2: Personal Information</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="step2FormGroup" (ngSubmit)="onStep2FormSubmit(step2FormGroup.value)">
            <!-- First Name -->
            <mat-form-field class="mb-4 me-4" appearance="fill">
              <mat-label>Firstname</mat-label>
              <input type="text" matInput formControlName="firstnameInput" [(ngModel)]="booking.firstName">
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step2FormGroup.get('firstnameInput').hasError('required')">
                FirstName is required
              </mat-error>
            </mat-form-field>

            <!-- Last Name -->
            <mat-form-field class="mb-4 me-4" appearance="fill">
              <mat-label>Lastname</mat-label>
              <input type="text" matInput formControlName="lastnameInput" [(ngModel)]="booking.lastName">
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step2FormGroup.get('lastnameInput').hasError('required')">
                Lastname is required
              </mat-error>
            </mat-form-field>

            <!-- Age -->
            <mat-form-field class="mb-4 me-4 mat-input-lg" appearance="fill">
              <mat-label>Age</mat-label>
              <input type="number" matInput formControlName="ageInput" min="1" max="99" [(ngModel)]="booking.age">
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step2FormGroup.get('ageInput').hasError('required')">
                Age is required
              </mat-error>
              <mat-error *ngIf="(step2FormGroup.get('ageInput').hasError('min') || step2FormGroup.get('ageInput').hasError('max')) && !step2FormGroup.get('ageInput').hasError('required')">
                Age must range between 1 and 99
              </mat-error>
            </mat-form-field>

            <!-- Gender -->
            <mat-form-field class="mb-4 me-4 mat-input-lg" appearance="fill">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="genderPicker" (selectionChange)="onGenderSelection($event)" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let gender of genderList" [value]="gender">{{gender}}</mat-option>
              </mat-select>
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step2FormGroup.get('genderPicker').hasError('required')">You must select your gender.</mat-error>
            </mat-form-field>

            <br>

            <!-- Contact Number -->
            <mat-form-field class="mb-4 me-4" appearance="fill">
              <mat-label>Telephone</mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput formControlName="telephoneInput" placeholder="9876543210" minlength="10" maxlength="10" [(ngModel)]="booking.phoneNumber">
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step2FormGroup.get('telephoneInput').hasError('required')">
                Please enter a valid telephone number
              </mat-error>
            </mat-form-field>

            <!-- Email Address -->
            <mat-form-field class="mb-4 me-4 mat-input-xl" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="emailInput" placeholder="Ex. pat@example.com" [(ngModel)]="booking.emailAddress">
              <mat-hint>*Required</mat-hint>
              <mat-error *ngIf="step2FormGroup.get('emailInput').hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="step2FormGroup.get('emailInput').hasError('email') && !step2FormGroup.get('emailInput').hasError('required')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </form>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-flat-button color="primary" class="me-4" type="submit" (click)="nextStep()" [disabled]="!step2FormGroup.valid">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel #step3 [expanded]="step === 3" (opened)="setStep(3)" [disabled]="!step1FormGroup.valid || !step2FormGroup.valid">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="my-4">Step 3: Confirm Appointment</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="booking.firstName && booking.lastName" class="font-weight-bold">
            {{booking.firstName}} {{booking.lastName}}
          </div>
          <div *ngIf="booking.age">
            Age: {{booking.age}}
          </div>
          <div *ngIf="booking.gender">
            Gender: {{booking.gender}}
          </div>
          <div *ngIf="booking.phoneNumber">
            Phone: {{booking.phoneNumber}}
          </div>
          <div *ngIf="booking.emailAddress">
            Email: {{booking.emailAddress}}
          </div>
          <br><br>
          <div *ngIf="booking.bookingDate">
            Date: {{booking.bookingDate | date:"dd/MM/yy"}}
          </div>
          <div *ngIf="booking.bookingTime">
            Time: {{booking.bookingTime}}
          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-flat-button color="primary" class="me-4" type="submit" (click)="confirmAppointment()" [disabled]="!step1FormGroup.valid || !step2FormGroup.valid">Confirm</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="isAppointmentConfirmed" class="col-12">
      <h1 class="mb-4 text-align-center">Here is your confirmation!</h1>
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg>
      <p class="text-align-center">Your appointment is confirmed for {{this.booking.bookingDate | date:"dd/MM/yy"}} at {{this.booking.bookingTime}}. We will give you a call at the scheduled time. Please have your documents ready, if any. Thank you!</p>

      <div class="next-steps">
        <h1 class="mb-4 text-align-center">What's next?</h1>
      </div>
    </div>
  </div>
</div>
