<div class="p-0">
  <nav class="nav">
    <div class="container-fluid nav-wrapper">
      <div class="nav-bar">
        <a class="nav-title" href="#">
          <img class="nav-image" src="../assets/images/doctor.jpeg" alt="Profile">
          <span>Dr. Sindhu Madhavaneni</span>
        </a>
        <div class="nav-items">
          <div class="nav-item">
              <a class="nav-link" href="#">Services</a>
          </div>
          <div class="nav-item">
              <a class="nav-link" href="#">Blog</a>
          </div>
          <div class="nav-item">
              <a class="nav-link" href="#">About</a>
          </div>
          <div class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
          </div>
          <div class="nav-item nav-item-cta">
              <a class="nav-link nav-link-cta" href="#">Make Appointment</a>
          </div>
          <!-- <div class="nav-item nav-item-link">
              <a class="nav-link" href="#">Working Hours</a>
          </div> -->
        </div>
        <button class="nav-toggle d-lg-none d-xl-none" (click)="onNavToggleClick()">
          <mat-icon fontSet="material-icons-outlined">{{toggleIconName}}</mat-icon>
        </button>
      </div>
      <div *ngIf="showMobileNav" id="mobileNav" class="container-fluid nav-mobile">
        <div class="nav-items">
          <div class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </div>
          <div class="nav-item">
              <a class="nav-link" href="#">Blog</a>
          </div>
          <div class="nav-item">
              <a class="nav-link" href="#">About</a>
          </div>
          <div class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main class="container-fluid p-0 d-flex justify-content-center">
    <section class="app-content">
      <app-promo-banner></app-promo-banner>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="bookingSection">This is booking section</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>
  </main>
  <footer class="app-footer"></footer>
  <!-- <router-outlet></router-outlet> -->
</div>
