@use "../../../styles/variables" as *;

.promo-banner {
  width: 100%;
  padding: $spacer-7 0;
  max-width: 120rem;
}

.promo-image {
  width: 100%;
  max-width: 60rem;
  height: auto;
  max-height: 58rem;
}

.promo-banner-message {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .promo-disclaimer {
    color: $gray;
  }
}

.appointment-btn-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: 576px) {
    display: block;
    justify-content: center;
  }
}

.make-appointment-btn {
  max-width: 20rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 0.4rem;
  padding: 0 $spacer-3;
}
