<section class="promo-banner">
  <div class="row">
    <div class="col-12 col-sm-6">
      <img class="promo-image" src="../assets/images/medical-illustration.jpg" alt="promo-img">
    </div>
    <div class="col-12 col-sm-6 promo-banner-message">
      <div class="py-5 ps-sm-5">
        <h1 class="mt-3 mb-4 text-center text-sm-start">We are home for your care!</h1>
        <p class="mb-4 text-center text-sm-start">You can now contact us online through WhatsApp video call. Book your virtual visit today.</p>
        <div class="appointment-btn-wrapper">
          <button id="makeAppointmentBtn" (click)="scroll('bookingSection')">Make Appointment</button>
        </div>
      </div>
    </div>
  </div>
</section>
